* {
  margin: 0;
  padding: 0; }

body #wrapper {
  background: transparent url(../images/full-bg.png) repeat-x 0 0;
  box-shadow: 5px 5px 10px #000;
  margin: 0 auto;
  width: 1040px; }
  body #wrapper section {
    min-height: 500px; }
